body{
    background-color: #E9ECEF;
}
a{
    text-decoration: none;
    color: #212529;
}

li{
    list-style-type: none;
}
main{
    height: 600px;
}
main#ürünlerimiz{
    height: 1800px;
}
.about-us h1{
    text-align: center;
    color: #212529;
    margin: 15px 0px;
}
